@media (max-width: 600px){
	header
	{
		position: fixed;
		z-index: 1000;
		height: 70px;
		width: 100%;
		overflow: hidden;
		background: rgba(255,255,255, 0.8);
		position: relative;
	}
	header figure
	{
		position: absolute;
		top: 10px;
		left: 30px;
		width: 50px;
		height: 50px;
		margin: 0;
		padding: 0;
	}
	header figure img
	{
		width: 50px;
		height: 50px;
	}
	header nav .miMenu
	{
		display: block;
		position: absolute;
		font-size: 2em;
		color: #333;
		top: 19px;
		right: 19px;
		text-decoration: none;
	}
	header nav ul
	{
		display: none;
	}
	/*header nav:hover > ul
	{
		display: block;
		cursor: pointer;
	}
	header nav ul li:hover < ul
	{
		display: block;
	}
	header nav ul:hover
	{
		display: block;
	}
	header nav ul
	{
		position: absolute;
		top: 51px;
		right: -19px;
		margin: 0;
		padding: 0;
		display: none;
		background: rgba(255,255,255,0.8);
	}
	header nav ul li
	{
		margin: .1em;
		width: 200px;
		font-size: .7em;
		background: none;
	}
	header nav ul li a
	{
		color: #333;
		padding: 0;
	}*/
	footer div
	{
		display: block;
		float: none;
		height: 100px;
		width: 100%;
	}
}









